<%- include ('partials/header', {username: '-'}) -%>

<div class="container container-header">
<!-- <header class="jumbotron"> -->
    <div class = "container py-5">
        <h1 class="display-1">True Legacy Homes Sale Manager</h1>
            <h1 class="display-6">Sale Reporting Input Form</h1>

            
            <!-- Row 1 of the form  -->
            <div class="row">
                <div class="col-lg-12 py-2">
                    <div class="row g-2">
                        <div class="col-md">
                          
                            <label for="exampleInputEmail1" class="form-label">Job Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="col-md">
                          
                          <label for="exampleInputEmail1" class="form-label">Hours Staging Budget</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        
                      </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Hours Staging Budget</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 2 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            
                              <label for="exampleInputEmail1" class="form-label">Market</label>
                              <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                            
                          </div>
                        <div class="col-md">
                            
                            <label for="exampleInputEmail1" class="form-label">Hours Staging Actual</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                            
                          </div>
                          <div class="col-md">
                            
                            <label for="exampleInputEmail1" class="form-label">Minimum Base</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 3 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            
                          <label for="exampleInputEmail1" class="form-label">Services</label>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                              
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Hours Staging Actual</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            
                            <label for="exampleInputEmail1" class="form-label">Minimum Actual</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 4 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">                            
                                <!-- <label for="exampleInputEmail1" class="form-label">Sale Date</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select Date"> -->
                                <div class="form-group">
                                  <label for="exampleInputEmail1" class="form-label">Sale Date</label>
                                  <div class='input-group date' id='datetimepicker1'>       
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                  </div>
                                </div>
                          </div>
                          <div class="col-md">                            
                              <label for="exampleInputEmail1" class="form-label">Hours Estate Sale Budget</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                          
                          </div>
                          <div class="col-md">
                            
                              <label for="exampleInputEmail1" class="form-label">Minimum Discount</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                             
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 5 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Cashier</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Hours Estate Sale Actual</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Minimum Base</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 6 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Salesperson</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Hours Estate Sale Actual</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Disposal Fee</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 7 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">POS ID</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales Budget</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Disposal Load Count</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 8 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Trailer #</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales Actual</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Disposal Vendor Cost</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 9 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Opening Day</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales Actual</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Disposal Vendor Cost</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 10 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                                <label for="floatingInputGrid">Ad View</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales 8 to 10</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Transaction 8 to 10</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 11 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                                <label for="floatingInputGrid">Emails Sent</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales Opening Day</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Transaction Opening Day</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 12 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                                <label for="floatingInputGrid">Client Name</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales 8 to 10</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Transaction Total</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 13 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                                <label for="floatingInputGrid">Client Mailing Address 1</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales Credit/Debit</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Transactions 8 to 10</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 14 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                                <label for="floatingInputGrid">Client Mailing AAddress 2</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales Cash</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Commission Rate</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 15 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                                <label for="floatingInputGrid">Client Mailing City</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Profit</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Commission Total</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 16 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Client Mailing State</label>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Zip</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Taxes Fees</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<!-- </header> -->

</div>

<div class="container container-actions">
    <div class = "row">
        <div class = "col-lg-12">
            
                
            
        </div>
    </div>
</div>


<%- include ('partials/footer') -%>